body{
    background-image: url('img/background.jpg');
}
#title {
    background-color: red;
    color : white;
    text-align: center;
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top : 168px;
}
.maintitle ul{
    display : inline-block;
}
#title .maintitle{
    list-style: none;
    font-size: 48px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size : 200px;
}
#title .icon{
    float : left;
}
.Content{
    font-family: 'Quicksand', sans-serif;
    font-size : 40px;
    float : left;
}
.Content .homebtn{
    border : none;
    border-radius: 40px;
    width : 300px;
    height: 65.89px;
    font-size : 20px;
    font-family: 'Roboto', sans-serif;
    font-weight : 400;
    margin-top : 304.06px;
    background : #1e7c93;
    color : white;
}