@import "reset.css";

body{
    background-color: #F6F6F7;
}

#menu{
    background-color : #242f56;
    width : 230px;
    height: 1080px;
}
.sub_menu{
    width: 230px;
    height: 100%;
}
.logo{
    height: 72px;
    display : flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 97px;
    height: 28px;
}
ul{
    list-style-type: none;
}
#menu li{
    align-items: center;
    display: flex;
    padding-left: 27px;
    height: 50px;

}
#menu li a{
    color : white;
    text-decoration: none;
    display : block;
}
#menu li:hover{
    background-color: #0F1633;
}
#top{
    width: 100%;
    height : 72px;
    background-color: #FFFFFF;
    position: absolute;
    top : 0px;
    margin-left : 230px;
    z-index: -1;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px 2px gray;
    
}
#dash{
    width : 156px;
    height : 50px;
    font-weight: 900;
    margin-left : 60px;
    display: flex;
    align-items: center;
    border-bottom: 6px solid #345C9D;
    margin-top : 22px;
}
#dash li{
    list-style: none;
    margin: 0 auto;
    font-size: 15px;
}
