@import 'reset.css';

body{
    background-color: #f6f6f7;
}
#menu{
    background-color: #242f56;
    width : 230px;
    height: 937px;
}
.sub_menu{
    width : 230px;
    height: 100%;
}
.logo{
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 24px;
}
ul{
    list-style: none;
}
.exit{
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 510px;
}
.exit p{
    color : #FFFFFF;
}
.exit img{
    margin-left: 6px;
}
#menu li{
    align-items: center;
    display: flex;
    padding-left : 27px;
    height: 50px;
}
#menu li a{
    color : white;
    text-decoration: none;
    display : block;
}
#menu li:hover{
    background-color : #0f1633;
}
#top{
    width: 1688px;
    height: 62px;
    background-color : #FFFFFF;
    position : absolute;
    top : 0px;
    margin-left : 230px;
    z-index : -1;
    display : flex;
    align-items: center;
    box-shadow : 2px 2px 2px 2px #dbdbdb;
}
#dash{
    width: 156px;
    height: 43px;
    font-weight: 900;
    font-size:15px;
    margin-left : 60px;
    display: flex;
    align-items: center;
    border-bottom: 6px solid #345C9D;
    margin-top : 22px;
}
#dash li{
    list-style: none;
    margin : 0 auto;
    font-size : 15px;
}
#search{
    background-color: #FFFFFF;
    width: 352px;
    height: 38.14px;
    position: absolute;
    top : 100px;
    left : calc(230px + 60px);
    box-shadow: 2px 2px 2px 2px #ebebeb;
}
.se_title{
    width : 29.33px;
    height: 21.56px;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    float : left;
    margin-left: 16.92px;
    margin-top : 10px;
}
.se_contents{
    height : 21.56px;
    float : left;
    margin-left : 16.92px;
    margin-top : 10px;
    font-size: 12px;
    list-style: none;
    color : #d1d1d1;
}
#user_list{
    height : 192.47px;
    width: 1273px;
    background-color : rgb(245, 245, 167);
    position: absolute;
    top : 172px;
    left : calc(230px + 60px);
}
.user_title{
    list-style: none;
    font-size : 20px;
    font-weight: bold;
}
