#nav{
    width : 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #00000033 ;
}
#header{
    position : fixed;
    width : 1040px;
    /*width: 950px;*/
    height : 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navleft img{
    width: 93px;
    height: 26px;
}

.navright a{
    margin : 32px;
    color : white;
    text-decoration: none;
    /*font-family: 'S-CoreDream';*/
}

.navright .navbtn {
    width: 90px;
    height: 30px;
    border : none;
    border-radius: 80px;
    color : #262626;
    background-color: white;
    /*font-family: 'S-CoreDream';*/
}
.title {
    color : black;
    font-weight: 400;
    align-items: center;
    display : flex;

}